{% extends "base.html" %}

{% block contenido %}
<div class="container mt-4">

    <h2 class="text-center mb-4">Calculadora de IMC</h2>

    <form method="POST" action="/imcc" class="p-4 shadow rounded bg-light">

        <div class="mb-3">
            <label>Peso (kg):</label>
            <input type="number" step="0.1" name="peso" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Altura (cm):</label>
            <input type="number" step="0.1" name="altura" class="form-control" required>
        </div>

        <button class="btn btn-primary w-100">Calcular</button>
    </form>

    {% if error %}
        <p class="text-danger text-center mt-3">{{ error }}</p>
    {% endif %}

    {% if imc %}
        <div class="mt-4 p-4 bg-white rounded shadow">
            <h4>Resultados</h4>
            <p><strong>IMC:</strong> {{ imc }}</p>
            <p><strong>Categoría:</strong> {{ categoria }}</p>

            {% if mensaje %}
                <p class="mt-2"><strong>Mensaje:</strong> {{ mensaje }}</p>
            {% endif %}
        </div>
            <div class="mt-4 p-4 bg-white rounded shadow">
            <h4 class="text-center mb-3">¿Que es IMC?</h4>
            <p><strong>El IMC, o Índice de Masa Corporal, es una medida que relaciona el peso de una persona con su estatura. Se calcula dividiendo el peso en kilogramos por el cuadrado de la altura en metros y se utiliza como una herramienta para clasificar el peso (bajo peso, peso saludable, sobrepeso u obesidad). Un IMC alto puede indicar un exceso de grasa corporal, que se asocia con un mayor riesgo de problemas de salud</strong></p>
            <p>  </p>
        </div>
    {% endif %}

</div>
{% endblock %}
