{% extends "base.html" %} {% block title %}Inicio{% endblock %} {% block
contenido %}

<div class="row g-5">
  <style>
          .btn-calcu {
              background-color: #2072B1 
          }

    
  </style>

  <div class="col-md-4">
    <div class="card shadow-sm border-0 h-100">
      <img
        src="static/ingre.jpg"
        style="height: 200px; object-fit: cover"
        class="card-img-top"
        alt="Calculadora Nutricional"
      />
      <div class="card-body text-center">
        <h5 class="card-title fw-bold">Buscar recetas por ingredientes</h5>
        <p class="card-text text-muted">
          que ingredientes tenemos, listo para cocinar?
        </p>
        <a href="/ingre" class="btn btn-calcu w-100" style="color: white"
          >Vamos</a
        >
      </div>
    </div>
  </div>

  <style>
    .btn-dieta {
      background-color: #2072b1 ;
    }
  </style>
  <div class="col-md-4">
    <div class="card shadow-sm border-0 h-100">
      <img
        src="static/comida.jpg"
        style="height: 200px; object-fit: cover"
        class="card-img-top"
        alt="Planes de Dieta"
      />
      <div class="card-body text-center">
        <h5 class="card-title fw-bold">   Calculadora de Tasa Metabólica Basal (TMB)</h5>
        <p class="card-text text-muted">Tu metabolismo basal (MB) es una de las tres formas en que tu cuerpo utiliza las calorías.</p>
        <a href="/nutrien" class="btn btn-dieta w-100" style="color: white"
          >Vamos</a
        >
      </div>
    </div>
  </div>


    <div class="col-md-4">
    <div class="card shadow-sm border-0 h-100">
      <img
        src="static/peso.webp"
        style="height: 200px; object-fit: cover"
        class="card-img-top"
        alt="Planes de Dieta"
      />
      <div class="card-body text-center">
        <h5 class="card-title fw-bold">Calculadora de Peso Corporal Ideal</h5>
        <p class="card-text text-muted">Alcanza y mantén tu peso ideal</p>
        <a href="/peso" class="btn btn-dieta w-100" style="color: white"
          >Vamos</a
        >
      </div>
    </div>
  </div>



     <div class="col-md-4">
    <div class="card shadow-sm border-0 h-100">
      <img
        src="static/imc.webp"
        style="height: 200px; object-fit: cover"
        class="card-img-top"
        alt="Planes de Dieta"
      />
      <div class="card-body text-center">
        <h5 class="card-title fw-bold">   Calculadora de Índice de Masa Corporal (IMC).</h5>
        <p class="card-text text-muted">El índice de masa corporal (IMC) es una medida ampliamente utilizada en la Medicina para evaluar la adecuación del peso corporal de una persona en relación con su altura</p>
        <a href="/imc" class="btn btn-dieta w-100" style="color: white"
          >Vamos</a
        >
      </div>
    </div>
  </div>

  <style>
    .btn-progreso {
      background-color: #2072b1 ;
    }
  </style>
  <div class="col-md-4">
    <div class="card shadow-sm border-0 h-100">
      <img
        src="static/nuto.jpg"
        style="height: 200px; object-fit: cover"
        class="card-img-top"
        alt="Progreso"
      />
      <div class="card-body text-center">
        <h5 class="card-title fw-bold">Analizar texto de comida</h5>
        <p class="card-text text-muted">
          cuales son los nutrientes de esta comida?
        </p>
        <a href="/comida" class="btn btn-progreso w-100" style="color: white"
          >Vamos</a
        >
      </div>
    </div>
  </div>

  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div
          id="carouselExampleSlidesOnly"
          class="carousel slide"
          data-bs-ride="carousel"
          data-bs-interval="2000"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="static/carrusel1.jpg"
                class="d-block w-100"
                style="height: 350px; object-fit: cover"
              />
            </div>
            <div class="carousel-item">
              <img
                src="static/carrusel2.jpg"
                class="d-block w-100"
                style="height: 350px; object-fit: cover"
              />
            </div>
            <div class="carousel-item">
              <img
                src="static/carrusel3.jpg"
                class="d-block w-100"
                style="height: 350px; object-fit: cover"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <h2 class="fw-bold mb-4">Solo lo mejor para ti</h2>
        <p class="fs-5">
          En FoodFit queremos que te sientas en casa. Aquí cuidar de ti es
          fácil, cómodo y pensado para tu estilo de vida. Únete y descubre lo
          bien que se siente empezar
        </p>
        <a href="/iniciar" class="btn btn-primary px-4 mt-3">Comenzar</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
