{% extends "base.html" %}

{% block contenido %}
<div class="container mt-4">

    <h2 class="text-center mb-4">Todo cuerpo es perfecto</h2>

    <form method="POST" action="ideal" class="p-4 shadow rounded bg-light">

        <div class="mb-3">
            <label>Edad:</label>
            <input type="number" class="form-control" name="edad" required>
        </div>

        <div class="mb-3">
            <label>Altura (cm):</label>
            <input type="number" class="form-control" name="altura" required>
        </div>

        <div class="mb-3">
            <label>Sexo:</label>
            <select class="form-select" name="sexo" required>
                <option value="hombre">Hombre</option>
                <option value="mujer">Mujer</option>
            </select>
        </div>

        <button class="btn btn-primary w-100" type="submit">Calcular</button>
    </form>

    {% if peso %}
        <div class="mt-4 p-4 bg-white rounded shadow">
            <h4>Resultado</h4>
            <p><strong>Peso ideal aproximado:</strong> {{ peso }} kg</p>
            <p><strong>Edad:</strong> {{ edad }} años</p>
        </div>
                        <div class="mt-4 p-4 bg-white rounded shadow">
            <h4 class="text-center mb-3">¿Cual es tu peso ideal?</h4>
            <p><strong>El peso ideal es un rango de peso que se considera saludable para una persona en relación con su estatura, y se utiliza como referencia para evaluar el riesgo de padecer enfermedades asociadas a la obesidad o la desnutrición.</strong></p>
            <p>  </p>
        </div>
    {% endif %}

</div>
{% endblock %}
