{% extends "base.html" %}

{% block contenido %}
<div class="text-center mb-5">
    <h1 class="fw-bold">¡A cocinar!</h1>
</div>

<div class="container mt-4">

    <h2 class="text-center mb-4">Buscar recetas por ingrediente</h2>

    <form method="POST" class="p-4 shadow rounded bg-light mb-4">
        <label>Ingrediente:</label>
        <input type="text" class="form-control" name="ingredient" placeholder="Ejemplo: pollo, tomate, arroz">
        <button class="btn btn-primary mt-3">Buscar recetas</button>
    </form>

    {% if recipes %}
    <h3 class="text-center mb-4">Recetas encontradas con "{{ ingredient_name }}"</h3>

    <div class="row">
        {% for r in recipes %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg" style="border-radius: 15px;">
                <img src="{{ r.image }}" class="card-img-top" style="border-radius: 15px 15px 0 0;">

                <div class="card-body text-center">
                    <h5 class="fw-bold">{{ r.title }}</h5>

                    <a class="btn btn-success mt-3" 
                       href="https://spoonacular.com/recipes/{{ r.title|replace(' ', '-') }}-{{ r.id }}"
                       target="_blank">
                       Ver receta 🔗
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock %}
